@import url(./logo/descarga.jpg);

.All { height: 20%;
width: 100%;}

.nav-logo { display: flex;
margin: 0%;
padding: 0%;
justify-content: space-between;
align-items: center;
border-bottom: solid #c5c5c5 1px;}

.nav-links { display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}